/* #techs {
    flex-shrink: 0;
    position: absolute;
    bottom: 320px;
    left: 1190px;
    top: 90px;
}

#firstH1 {
    width: 900px;
    margin-top: 150px;
    margin-bottom: 40px;
}

#secondH1 {
    width: 690px;
}

#first_curiosity_section {
    margin-bottom: 800px;
}

#second_curiosity_section {
    margin-bottom: 1000px;
    position: relative;
    top: 550px;
}

#crashCourseParagraph {
    margin-top: 50px;
}

#myPicCrashCourse {
    width: 500px;
    height: auto;
    flex-shrink: 0;
    position: absolute;
    left: 1290px;
    top: 1850px;
}

#thirdy_curiosity_section {
    position: relative;
    top: 1000px;
    bottom: 15000px;
    margin-bottom: 1500px;
}

#me_playing_bass {
    width: 500px;
    height: auto;
    flex-shrink: 0;
    position: absolute;
    left: 1290px;
    top: 3810px;
    margin-top: -20px;
}

#curiosity_page_container {
    overflow-x: hidden;
} */