.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;

  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 1rem;

  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}
