#about_me_container {
    overflow: hidden;
}

#li_aboutmepage {
    background-color: #000;
    padding: 10px 30px 10px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 8px;
}

h1 {
    color: #000;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
    margin: 150px 0 0 100px;
}

p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 674px;
}

#my_about_pic {
    flex-shrink: 0;
    position: absolute;
    right: 113px;
    bottom: 383px;
    left: 1332px;
    top: 200px;
}

#about_me_page_section {
    margin-top: 200px;
}