svg {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    fill: #000;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav {
    padding: 0;
    margin-right: 113px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li {
    margin-right: 45px;
    margin-top: 15px;
    color: #000;
    font-family: 'Poppins';

}

li a {
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Estilize o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

.scrollbar {
    width: 12px;
    background-color: #f2f2f2;
}

.scrollbar-thumb {
    background-color: #888;
}